{
  "swagger": "2.0",
  "info": {
    "title": "UCME API spec",
    "description": "UCME API spec for Swagger",
    "version": "1.0.0"
  },
  "host": "ucme-backend.eu-gb.mybluemix.net",
  "schemes": [
    "http"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "Uses HTTP Basic Authentication."
    }
  },

  "security": [
    {
      "basicAuth": []
    }
  ],
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "get all UCME users",
        "description": "This endpoint returns all users (not deactivated) of UCME.\nWe also can filter users by condition given in query like ?email=abc@def.com.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/User"
          }
        }
      },
      "post": {
        "summary": "create new UCME user",
        "description": "Create new user.\n Use 'registerCode' only for invitation.\n Do not use 'registerCode' for normal user registration. ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateNewUser"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "201": {
            "description": "New user created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "$ref": "#/definitions/UserId"
                },
                "age": {
                  "type": "integer",
                  "format": "int32",
                  "example": 28,
                  "description": "user's age"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/constants": {
      "get": {
        "summary": "get user related constants",
        "description": "This endpoint returns all constants from backend related to user.",
        "responses": {
          "200": {
            "description": "Returns user constants",
            "schema": {
              "type": "object",
              "properties": {
                "DefaultNewUserCashPoints":{
                  "type": "integer",
                  "example": 50,
                  "description": "no of default new user Cash points"
                },
                "DefaultNewUserGamePoints":{
                  "type": "integer",
                  "example": 100,
                  "description": "no of default new user Game points"
                },
                "DefaultNewUserStars":{
                  "type": "integer",
                  "example": 5,
                  "description": "no of default new user star"
                },
                "UCME_ExchangeRate_Points": {
                  "$ref": "#/definitions/UCME_ExchangeRate_Points"
                },
                "UCME_Points_Transfer_Quota": {
                  "$ref": "#/definitions/UCME_Points_Transfer_Quota"
                }
              }
            }
          },
          "500": {
            "description": "Some error while fetching user constants",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "get one UCME user",
        "description": "This endpoint returns one user of UCME.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/User"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "summary": "update one UCME user",
        "description": "Update one user specified by user id.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "updatedUser",
            "in": "body",
            "description": "updated user.",
            "schema": {
              "$ref": "#/definitions/NewUser"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "A user is successfully updated."
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "permanently delete a UCME user",
        "description": "WARNING - This method world permanently delete a user.\nStrictly for dev puposes.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "A user is successfully deleted."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/{userId}/deactivate": {
      "delete": {
        "summary": "deactivate one UCME user",
        "description": "Deactivate one user specified by user id.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "A user is successfully deactivate."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/getAllNearByExperiences/{userId}/{latitude}/{longitude}": {
      "get": {
        "summary": "get user location ,nearest VM ,UserId",
        "description": "get all nearest user , UserLocation, nearest virtual message with in range of 0.01 mile.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Latitude",
            "required": true,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "path",
            "description": "Latitude",
            "required": true,
            "type": "number"
          },
          {
            "name": "Longitude",
            "in": "path",
            "description": "longitude",
            "required": true,
            "type": "number"
          },
          {
            "name": "maxDist",
            "in": "query",
            "description": "maximum Distance",
            "required": false,
            "type": "number"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "unit by default mi",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "type of filter like category ,date. if filterType:date use to and from otherwise use filterType and filterValue",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterValue",
            "in": "query",
            "description": "value of filter like for category value will be Advocacy,date (for filterValue :date ,use to and from)",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "from date, example: 6/1/2017 (M/D/YYYY),use for date filter only",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "to date , example: 8/5/2017  (M/D/YYYY),use for date filter only",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "get  user location , UserId , nearest virtual messages ,memories,successfully."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/MyNearbyVirtualExp/{userId}/{latitude}/{longitude}": {
      "get": {
        "summary": "will fetch all Virtual Experiences I have published at specific location",
        "description": "will fetch all Virtual Experiences I have published at specific location.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "latitude",
            "required": false,
            "type": "number"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "longitude",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxDist",
            "in": "query",
            "description": "maximum Distance",
            "required": false,
            "type": "number"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "unit by default mi",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "type of filter like category ,date. if filterType:date use to and from otherwise use filterType and filterValue",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterValue",
            "in": "query",
            "description": "value of filter like for category value will be Advocacy, date (for filterValue :date ,use to and from)",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "from Date, example: 6/1/2017 (M/D/YYYY),use for date filter only",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "to Date , example: 8/5/2017  (M/D/YYYY),use for date filter only",
            "required": false,
            "type": "string"
          }

        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "will fetch all Virtual Experiences I have published at specific location."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/{userId}/profile_pic": {
      "get": {
        "summary": "get profile pic",
        "description": "This endpoint returns profile pic of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Profile"
        ],
        "responses": {
          "200": {
            "description": "get user Image",
            "schema": {
              "$ref": "#/definitions/UserImage"
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/{userId}/profile_pic_update": {
      "put": {
        "summary": "update user profile pic",
        "description": "Update user profile pic specified by user id.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "updatedUser",
            "in": "body",
            "description": "updated user.",
            "schema": {
              "$ref": "#/definitions/NewUserProfile"
            }
          }
        ],
        "tags": [
          "User Profile"
        ],
        "responses": {
          "200": {
            "description": "A user profile pic is successfully updated."
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/{userId}/points": {
      "get": {
        "summary": "get points of certain User",
        "description": "This endpoint returns points of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Point"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserPoint"
          }
        }
      },
      "post": {
        "summary": "Add/Update points of certain user",
        "description": "This endpoint updates the points of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserPointPost"
            }
          }
        ],
        "tags": [
          "User Point"
        ],
        "responses": {
          "200": {
            "description": "User points updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Newly created item's id"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/stars": {
      "get": {
        "summary": "get stars of certain User",
        "description": "This endpoint returns stars of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Star"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserStar"
          }
        }
      },
      "post": {
        "summary": "Add/Update stars of certain user",
        "description": "This endpoint updates the stars of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserStarsPost"
            }
          }
        ],
        "tags": [
          "User Star"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserStar"
          }
        }
      }
    },
    "/users/{userId}/tracking_users": {
      "get": {
        "summary": "get all tracking users",
        "description": "This endpoint returns users whom user is tracking.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Track"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserTrack"
          }
        }
      }
    },
    "/users/{userId}/location": {
      "get": {
        "summary": "get location of certain User",
        "description": "This endpoint returns the location of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Location"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserLocation"
          }
        }
      },
      "put": {
        "summary": "update location of certain User",
        "description": "This endpoint update the location of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "gps",
            "in": "body",
            "description": "new GPS of user.",
            "schema": {
              "$ref": "#/definitions/CoordinatesObject"
            }
          }
        ],
        "tags": [
          "User Location"
        ],
        "responses": {
          "204": {
            "description": "A user is successfully updated."
          },
          "400": {
            "description": "Invalid request body."
          }
        }
      }
    },
    "/users/{userId}/near": {
      "get": {
        "summary": "get near users of certain User",
        "description": "This endpoint returns near users.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Near"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserNear"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/{userId}/stores": {
      "get": {
        "summary": "get user stored items",
        "description": "This endpoint returns user stored items.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserStore"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "summary": "register new user store item",
        "description": "Register new user store item.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserStore"
            }
          }
        ],
        "tags": [
          "User Store"
        ],
        "responses": {
          "201": {
            "description": "New item was stored successfully",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Newly created item's id"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/stores/{storeId}": {
      "delete": {
        "summary": "delete one ARO Animal",
        "description": "Delete ARO Animal specified by id.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "path",
            "description": "stored item id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Store"
        ],
        "responses": {
          "204": {
            "description": "Stored item was successfully deleted."
          }
        }
      }
    },
    "/users/{userId}/requests": {
      "get": {
        "summary": "get all requests for the user",
        "description": "This endpoint returns all requests sent for the user.\nRequests are generated by Interactions automatically\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Requests"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserRequest"
          }
        }
      }
    },
    "/users/{userId}/isGAIA": {
      "get": {
        "summary": "get isGAIA status of certain User",
        "description": "This endpoint returns isGAIA status of user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user's id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User isGAIA status"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserIsGAIA"
          }
        }
      }
    },
    "/poi": {
      "get": {
        "summary": "get all POIs",
        "description": "This endpoint returns all POIs.\n",
        "parameters": [
          {
            "name": "any condition to filter POIs",
            "in": "query",
            "description": "userId | userStoreId",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "POI"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/POI"
          }
        }
      },
      "post": {
        "summary": "create new POI",
        "description": "Create new POI.\n",
        "parameters": [
          {
            "name": "newPOI",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/POI"
            }
          }
        ],
        "tags": [
          "POI"
        ],
        "responses": {
          "201": {
            "description": "New POI was created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/definitions/POIId"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          }
        }
      }
    },
    "/poi/{id}": {
      "delete": {
        "summary": "delete POI",
        "description": "Delete POI specified by user id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "POI id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "POI"
        ],
        "responses": {
          "204": {
            "description": "A POI is successfully deleted."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/aro_list": {
      "get": {
        "summary": "get list of all ARO's",
        "description": "This endpoint returns list of all ARO's.\n",
        "parameters": [
          {
            "name": "any property user has",
            "in": "query",
            "description": "any property.",
            "required": false,
            "type": "string",
            "format": "double"
          }
        ],
        "tags": [
          "ARO List"
        ],
        "responses": {
          "200": {
            "description": "An object of ARO animals",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/AROList"
              }
            }
          }
        }
      },
      "post": {
        "summary": "User attached to ARO",
        "description": "User attached to ARO.\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AROUserSave"
            }
          }
        ],
        "tags": [
          "ARO List"
        ],
        "responses": {
          "201": {
            "description": "User attached to ARO",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "User ARO's id"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update points of an ARO or feed ARO",
        "description": "Update points of an ARO.\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAROPoints"
            }
          }
        ],
        "tags": [
          "User Point"
        ],
        "responses": {
          "201": {
            "description": "Update points of an ARO",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Update points of an ARO"
                }
              }
            }
          }
        }
      }
    },
    "/aro_list/AROdefaultValue": {
      "get": {
        "summary": "get aro default values and status",
        "description": "get aro default values and status.\n",
        "tags": [
          "ARO List"
        ],
        "responses": {
          "204": {
            "description": "get aro default values and status."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/aro_list/getUserARO/{UserAroId}": {
      "get": {
        "summary": "get status and points of an user's ARO",
        "description": "get status and points of an user's ARO by UserAroId.\n",
        "parameters": [
          {
            "name": "UserAroId",
            "in": "path",
            "description": "User's AroId",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Point"
        ],
        "responses": {
          "204": {
            "description": "get status and points of an user's ARO successfully."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/aro_list/AROsUserList": {
      "get": {
        "summary": "get All ARO user's",
        "description": "get All ARO user's.\n",
         "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "get all the ARO's attached to all user and if the userid is sent in the request parameters, then will get ARO's attached to a single user.",
            "required": false,
            "type": "string",
            "format": "double"
          }
        ],
        "tags": [
          "ARO List"
        ],
        "responses": {
          "204": {
            "description": "get All ARO user's successfully."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/aro_list/ActivateARO/{UserAroId}": {
      "put": {
        "summary": "update User's ARO to active or inactive",
        "description": "update User's ARO to active or inactive.\n",
        "parameters": [
          {
            "name": "UserAroId",
            "in": "path",
            "description": "User's UserAroId",
            "required": true,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "ARO status : true / false",
            "required": true,
            "type": "boolean"
          }
        ],
        "tags": [
          "ARO List"
        ],
        "responses": {
          "204": {
            "description": "change ARO status successfully."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/aro_list/aroActive/{aroId}": {
      "put": {
        "summary": "active or inactive ARO in AROStore",
        "description": "update aro status ,active or inactive ARO in AROStore.\n",
        "parameters": [
          {
            "name": "aroId",
            "in": "path",
            "description": "aroId",
            "required": true,
            "type": "string"
          },
          {
            "name": "isActiveInAROStore",
            "in": "query",
            "description": "change the status active or inactive",
            "required": true,
            "type": "boolean"
          }
        ],
        "tags": [
          "ARO List"
        ],
        "responses": {
          "204": {
            "description": "active or inactive ARO in AROStore successfully."
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "get categories",
        "description": "This endpoint returns all categories.\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "type can be VM, POI, MEMORY etc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of categories"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some internal server error",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Categories"
        ]
      }
    },
    "/memories": {
      "get": {
        "summary": "RESTRICTED TO BE USED BY DEVs ONLY get all memorys",
        "description": "This endpoint returns all memorys of user.\nWe also can filter users by condition given in query.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "mem sender user Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "audienceType",
            "in": "query",
            "description": "audienceType, Public, Individual, Followers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "messageType - Text or Video.",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "category - see mem categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hasExpired",
            "in": "query",
            "description": "whether message has Expired",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isFavourite",
            "in": "query",
            "description": "whether message is selected as user favourite",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "remoteRead",
            "in": "query",
            "description": "whether message can be remote read",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "allowAutoGrab",
            "in": "query",
            "description": "whether message can be auto grabbed",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of memorys",
            "schema": {
              "$ref": "#/definitions/Memory"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Returns 0 count if no memorys found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      },
      "post": {
        "summary": "create new memorys",
        "description": "pass one or mutiple payloads to create new memorys.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Object that will save Memory",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewMemory"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Newly added memory",
            "schema": {
              "type": "object",
              "properties": {
                "memoryId": {
                  "type": "string",
                  "description": "Newly created memoryId or mem ids in case of multi insert",
                  "example": "MEM-65f3c352-86d8-4bc3-a507-022ebd3fdc79"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload data",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      }
    },
    "/memories/constants": {
      "get": {
        "summary": "get mem realated constants",
        "description": "This endpoint returns all constants from backend relaetd to MEM.\n Like Audio video duration, message text limit, distances limit etc",
        "responses": {
          "200": {
            "description": "Returns memory constants",
            "schema": {
              "type": "object",
              "properties": {
                "DistanceRange": {
                  "type": "object",
                  "properties": {
                    "distance": {
                      "type": "integer",
                      "description": "distance in miles"
                    }
                  }
                },
                "VideoDurations": {
                  "type": "object",
                  "properties": {
                    "seconds": {
                      "type": "integer",
                      "description": "duration in seconds"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "AudioDurations": {
                  "type": "object",
                  "properties": {
                    "seconds": {
                      "type": "integer",
                      "description": "duration in seconds"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "TextLimit": {
                  "type": "object",
                  "properties": {
                    "chars": {
                      "type": "integer",
                      "description": "no of characters"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "DefaultMonthlyFreeMessageQuotaLimit": {
                  "type": "integer",
                  "description": "no of default free messages per month"
                },
                "DefaultMonthlyFreeRemoteLimit": {
                  "type": "integer",
                  "description": "no of default free messages remote allowed without physically be preset at location per month"
                },
                "DefaultUserPointsToSendMEM": {
                  "type": "integer",
                  "description": "no of default points to deduct on every message that exceeds monthly limit"
                },
                "DefaultMinDistanceRangeForMEM": {
                  "type": "integer",
                  "description": "default distance range"
                },
                "DefaultDurationForVideoMEM": {
                  "type": "integer",
                  "description": "default duration of free video messages"
                },
                "DefaultDaysNoActivity": {
                  "type": "integer",
                  "description": "no activity default days"
                },
                "PictureLengths": {
                  "type": "object",
                  "properties": {
                    "photo": {
                      "type": "integer",
                      "description": "photo length"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "PictureLengthsCount": {
                  "type": "integer",
                  "description": "count of picture length"
                },
                "DefaultCategory": {
                  "type": "string",
                  "description": "default category"
                }
              }
            }
          },
          "500": {
            "description": "Some error while fetching memorys constants",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      }
    },
    "/memories/{memoryId}": {
      "get": {
        "summary": "get one memorys by id",
        "description": "This endpoint returns one mem by id.\n",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "mem id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of memorys",
            "schema": {
              "$ref": "#/definitions/Memory"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no memorys found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      },
      "put": {
        "summary": "update one memory",
        "description": "Update one memory by id.\n",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "updated user.",
            "schema": {
              "$ref": "#/definitions/Memory"
            }
          }
        ],
        "tags": [
          "Memory"
        ],
        "responses": {
          "204": {
            "description": "memory successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating memorys.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      },
      "delete": {
        "summary": "RESTRICTED TO BE USED BY DEVs ONLY delete one memory",
        "description": "Delete one memory by id.\n",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "memory id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Memory"
        ],
        "responses": {
          "204": {
            "description": "memory successfully deleted."
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while deleting memory.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/user/{userId}": {
      "get": {
        "summary": "get list of memorys for userId",
        "description": "This endpoint returns vm's by userId.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "isFavourite",
            "in": "query",
            "description": "user's favourite vm.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of memorys",
            "schema": {
              "$ref": "#/definitions/Memory"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no memorys found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      },
      "delete": {
        "summary": "RESTRICTED TO BE USED BY DEVs ONLY delete user's memory",
        "description": "Delete all memory by user id.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Memory"
        ],
        "responses": {
          "204": {
            "description": "User's memorys have been successfully deleted."
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while deleting user's memorys.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/quota/{userId}": {
      "get": {
        "summary": "get quota details for userId",
        "description": "This endpoint returns vm's send and isUnderFree quota by userId.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns quota details",
            "schema": {
              "type": "object",
              "properties": {
                "isUnderFreeQuota": {
                  "type": "boolean",
                  "description": "This user has send mem under free quota limit"
                },
                "usedMessagesCount": {
                  "type": "number",
                  "format": "int32",
                  "description": "no of messages already sent"
                },
                "defaultMonthlyFreeQuotaLimit": {
                  "type": "number",
                  "format": "int32",
                  "example": 15,
                  "description": "This user has send mem under free quota limit"
                }
              }
            }
          },
          "500": {
            "description": "some error occured",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      }
    },
    "/memories/tags/{memoryId}": {
      "get": {
        "summary": "get memorys tags only in string one line",
        "description": "memory tags.",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "memoryId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "memory tags, comma seprated"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      },
      "put": {
        "summary": "update memorys tags",
        "description": "updates and appends to any previous memory tags.",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "memoryId",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "category tags.",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "string",
                  "description": "comma seperated tags"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "updated memory tags"
          },
          "400": {
            "description": "Invalid payload data",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Memory"
        ]
      }
    },
    "/memories/audience/{userId}": {
      "get": {
        "summary": "get user mem for target audience",
        "description": "Lists all Virtual Messages within the default distance range that are visible to particular user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "audienceType",
            "in": "query",
            "description": "audienceType, Public, Individual, Followers.",
            "required": true,
            "type": "string"
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "messageType - Text or Video.",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "category - see mem categories.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remoteRead",
            "in": "query",
            "description": "whether message can be remote read",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "long",
            "in": "query",
            "description": "user location longitude.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "user location latitude.",
            "required": false,
            "type": "string"
          },
          {
            "name": "distance",
            "in": "query",
            "description": "user selected distance range.",
            "required": false,
            "type": "string"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of distance.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Memory"
        ],
        "responses": {
          "200": {
            "description": "Returns list of user memorys within range",
            "schema": {
              "$ref": "#/definitions/Memory"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no memorys found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memoryId}": {
      "post": {
        "summary": "save mem Detail - see sample",
        "description": "Save Virtual Messages Details.\n",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "mem id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Object that will save Memory",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Memory"
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "201": {
            "description": "memorys detail id",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Newly created mem Detail's id"
                }
              }
            }
          },
          "400": {
            "description": "invalid mem detail payload.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}": {
      "get": {
        "summary": "get mem Detail - by unique mem detail id",
        "description": "Lists Virtual Messages Details by unique id.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "unique memory detail id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "200": {
            "description": "Returns memorys detail object",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no memorys found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      },
      "put": {
        "summary": "update memory detail - by mem detail Id",
        "description": "Update detail this will be used to add comments, likes etc.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "mem details.",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetails"
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "mem details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating mem details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/list/{memoryId}": {
      "get": {
        "summary": "get mem Details list - by memoryId",
        "description": "Lists given Virtual Messages Details like comments likes etc.\n",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "memory id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "200": {
            "description": "Returns memorys details list",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no memorys found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/count/{memoryId}": {
      "get": {
        "summary": "get mem Details counts - by memoryId",
        "description": "Lists given Virtual Messages Details Counts like comments likes etc.\n",
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "description": "memory id  -- memoryId.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "200": {
            "description": "Returns memorys details Count",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetailsCount"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no memorys found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}/comment": {
      "post": {
        "summary": "insert comment - by mem detail Id",
        "description": "Add comments.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "mem details.",
            "schema": {
              "type": "object",
              "properties": {
                "memoryId": {
                  "type": "string",
                  "description": "memoryId on which reply to be added"
                },
                "userId": {
                  "type": "string",
                  "description": "user Id who comments"
                },
                "replyId": {
                  "type": "string",
                  "description": "memory detail id that is replied on"
                },
                "comment": {
                  "type": "string",
                  "description": "comment message"
                }
              }
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "201": {
            "description": "comment added successfully."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}/like": {
      "put": {
        "summary": "like unlike a mem - by mem detail Id",
        "description": "Update like.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "mem details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating mem details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}/unlike": {
      "put": {
        "summary": "dislike a mem - by mem detail Id",
        "description": "Dislike MEM.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "mem details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating mem details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}/report": {
      "put": {
        "summary": "report abuse on a comment - by mem detail Id",
        "description": "add report abuse on a comment.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string",
                  "description": "user Id who reports"
                }
              }
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "mem details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating mem details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}/like-comment": {
      "put": {
        "summary": "like a mem comment - by mem detail Id",
        "description": "Update like.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "mem details.",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string",
                  "description": "user Id who likes comment"
                }
              }
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "mem details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating mem details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/memories/detail/{memDetiailsId}/unlike-comment": {
      "put": {
        "summary": "dislike a mem comment - by mem detail Id",
        "description": "Update like.\n",
        "parameters": [
          {
            "name": "memDetiailsId",
            "in": "path",
            "description": "memory detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "mem details.",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string",
                  "description": "user Id who dislikes comment"
                }
              }
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "mem details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating mem details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages": {
      "get": {
        "summary": "RESTRICTED TO BE USED BY DEVs ONLY get all virtual messages",
        "description": "This endpoint returns all virtual messages of user.\nWe also can filter users by condition given in query.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "VM sender user Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "audienceType",
            "in": "query",
            "description": "audienceType, Public, Individual, Followers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "messageType - Text or Video.",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "category - see vm categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetAddress",
            "in": "query",
            "description": "Target Address",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetCity",
            "in": "query",
            "description": "Target City",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetState",
            "in": "query",
            "description": "Target State",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetCountry",
            "in": "query",
            "description": "Target Country",
            "required": false,
            "type": "string"
          },
          {
            "name": "hasExpired",
            "in": "query",
            "description": "whether message has Expired",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isFavourite",
            "in": "query",
            "description": "whether message is selected as user favourite",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "remoteRead",
            "in": "query",
            "description": "whether message can be remote read",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "allowAutoGrab",
            "in": "query",
            "description": "whether message can be auto grabbed",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of virtual messages",
            "schema": {
              "$ref": "#/definitions/VirtualMessages"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Returns 0 count if no virtual messages found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      },
      "post": {
        "summary": "create new virtual messages",
        "description": "pass one or mutiple payloads to create new virtual messages.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Object that will save VirtualMessages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewVirtualMessages"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Newly added virtual message",
            "schema": {
              "type": "object",
              "properties": {
                "vmId": {
                  "type": "string",
                  "description": "Newly created vmId or VM ids in case of multi insert",
                  "example": "VM-65f3c352-86d8-4bc3-a507-022ebd3fdc79"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload data",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      }
    },
    "/virtual_messages/constants": {
      "get": {
        "summary": "get vm realated constants",
        "description": "This endpoint returns all constants from backend relaetd to VM.\n Like Audio video duration, message text limit, distances limit etc",
        "responses": {
          "200": {
            "description": "Returns virtual message constants",
            "schema": {
              "type": "object",
              "properties": {
                "DistanceRange": {
                  "type": "object",
                  "properties": {
                    "distance": {
                      "type": "integer",
                      "description": "distance in miles"
                    }
                  }
                },
                "VideoDurations": {
                  "type": "object",
                  "properties": {
                    "seconds": {
                      "type": "integer",
                      "description": "duration in seconds"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "AudioDurations": {
                  "type": "object",
                  "properties": {
                    "seconds": {
                      "type": "integer",
                      "description": "duration in seconds"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "TextLimit": {
                  "type": "object",
                  "properties": {
                    "chars": {
                      "type": "integer",
                      "description": "no of characters"
                    },
                    "points": {
                      "type": "integer",
                      "description": "points to deduct"
                    }
                  }
                },
                "DefaultMonthlyFreeMessageQuotaLimit": {
                  "type": "integer",
                  "description": "no of default free messages per month"
                },
                "DefaultMonthlyFreeRemoteLimit": {
                  "type": "integer",
                  "description": "no of default free messages remote allowed without physically be preset at location per month"
                },
                "DefaultDistanceRangeForVM": {
                  "type": "string",
                  "description": "default distance range"
                },
                "DefaultDurationForVideoVM": {
                  "type": "integer",
                  "description": "default duration of free video messages"
                },
                "DefaultDaysNoActivity": {
                  "type": "integer",
                  "description": "no activity default days"
                },
                "DefaultLengthForTextVM": {
                  "type": "integer",
                  "description": "hold default duration of a text vm"
                },
                "MaxLengthForTitle": {
                  "type": "integer",
                  "description": "Max length for title"
                },
                "MaxLengthForTags": {
                  "type": "integer",
                  "description": "Max length for tags"
                },
                "DefaultCategory": {
                  "type": "string",
                  "description": "default category"
                }
              }
            }
          },
          "500": {
            "description": "Some error while fetching virtual messages constants",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      }
    },
    "/virtual_messages/{vmId}": {
      "get": {
        "summary": "get one virtual messages by id",
        "description": "This endpoint returns one vm by id.\n",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "vm id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of virtual messages",
            "schema": {
              "$ref": "#/definitions/VirtualMessages"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no virtual messages found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      },
      "put": {
        "summary": "update one virtual message",
        "description": "Update one virtual message by id.\n",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "updated user.",
            "schema": {
              "$ref": "#/definitions/VirtualMessages"
            }
          }
        ],
        "tags": [
          "Virtual Messages"
        ],
        "responses": {
          "204": {
            "description": "virtual message successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating virtual messages.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      },
      "delete": {
        "summary": "RESTRICTED TO BE USED BY DEVs ONLY delete one virtual message",
        "description": "Delete one virtual message by id.\n",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "virtual message id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages"
        ],
        "responses": {
          "204": {
            "description": "virtual message successfully deleted."
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while deleting virtual message.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/user/{userId}": {
      "get": {
        "summary": "get list of virtual messages for userId",
        "description": "This endpoint returns vm's by userId.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "isFavourite",
            "in": "query",
            "description": "user's favourite vm.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of virtual messages",
            "schema": {
              "$ref": "#/definitions/VirtualMessages"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no virtual messages found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      },
      "delete": {
        "summary": "RESTRICTED TO BE USED BY DEVs ONLY delete user's virtual message",
        "description": "Delete all virtual message by user id.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages"
        ],
        "responses": {
          "204": {
            "description": "User's virtual messages have been successfully deleted."
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while deleting user's virtual messages.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/quota/{userId}": {
      "get": {
        "summary": "get quota details for userId",
        "description": "This endpoint returns vm's send and isUnderFree quota by userId.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns quota details",
            "schema": {
              "type": "object",
              "properties": {
                "isVMUnderFreeMonthlyQuota": {
                  "type": "boolean",
                  "description": "This user has send vm under free quota limit"
                },
                "usedMonthlyVMMessageCount": {
                  "type": "number",
                  "format": "int32",
                  "description": "no of messages already sent"
                },
                "DefaultMonthlyFreeVMQuotaLimit": {
                  "type": "number",
                  "format": "int32",
                  "example": 15,
                  "description": "This user has send vm under free quota limit"
                },
                "DefaultMonthlyFreeMemoryQuotaLimit": {
                  "type": "number",
                  "format": "int32",
                  "example": 5,
                  "description": "Default monthly free memory quota limit"
                }
              }
            }
          },
          "500": {
            "description": "some error occured",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      }
    },
    "/virtual_messages/remote_quota/{userId}": {
      "get": {
        "summary": "get remote quota details for userId",
        "description": "This endpoint returns vm's send and isUnderFree remote quota by userId.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns remote quota details",
            "schema": {
              "type": "object",
              "properties": {
                "isVMUnderFreeMonthlyRemoteQuota": {
                  "type": "boolean",
                  "description": "This user has send vm under free remote quota limit"
                },
                "usedMonthlyVMRemoteMessagesCount": {
                  "type": "number",
                  "format": "int32",
                  "description": "no of messages already sent"
                },
                "DefaultMonthlyFreeVMRemoteQuotaLimit": {
                  "type": "number",
                  "format": "int32",
                  "example": 15,
                  "description": "This user has send vm under free remote quota limit"
                },
                "DefaultMonthlyFreeMemoryQuotaLimit": {
                  "type": "number",
                  "format": "int32",
                  "example": 5,
                  "description": "Default monthly free memory quota limit"
                }
              }
            }
          },
          "500": {
            "description": "some error occured",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      }
    },
    "/virtual_messages/tags/{vmId}": {
      "get": {
        "summary": "get virtual messages tags only in string one line",
        "description": "virtual message tags.",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "vmId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "virtual message tags, comma seprated"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      },
      "put": {
        "summary": "update virtual messages tags",
        "description": "updates and appends to any previous virtual message tags.",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "vmId",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "category tags.",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "string",
                  "description": "comma seperated tags"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "updated virtual message tags"
          },
          "400": {
            "description": "Invalid payload data",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      }
    },
    "/virtual_messages/audience/{userId}": {
      "get": {
        "summary": "get user VM for target audience",
        "description": "IGNORED!  - This route has been ignored by roger and ashish on 30.Jun.2017   6pm IST.\nLists all Virtual Messages within the default distance range that are visible to particular user.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "user id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "audienceType",
            "in": "query",
            "description": "audienceType, Public, Individual, Followers.",
            "required": true,
            "type": "string"
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "messageType - Text or Video.",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "category - see vm categories.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remoteRead",
            "in": "query",
            "description": "whether message can be remote read",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter by city. Blank if not required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country. Blank if not required",
            "required": false,
            "type": "string"
          },
          {
            "name": "long",
            "in": "query",
            "description": "user location longitude.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "user location latitude.",
            "required": false,
            "type": "string"
          },
          {
            "name": "distance",
            "in": "query",
            "description": "user selected distance range. Use float value or 'City' / 'Country' / 'Everywhere'",
            "required": false,
            "type": "string"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of distance.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages"
        ],
        "responses": {
          "200": {
            "description": "Returns list of user virtual messages within range",
            "schema": {
              "$ref": "#/definitions/VirtualMessages"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no virtual messages found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/received/{userId}": {
      "post": {
        "summary": "virtual message received by a user",
        "description": "This route returns the virtual message received based on the location. The required fields are rangeType, is_memory and hasExpired. For Date filters, fromDate and toDate should be in M/D/YYYY",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "add select and where fields",
            "schema": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : 76.5921
                },
                "longitude": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : 76.5921
                },
                "range": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : 1
                },
                "unit": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : "mi"
                },
                "is_memory": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : false
                },
                "hasExpired": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : false
                },
                "audienceType": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : "Individual"
                },
                "rangeType": {
                  "type": "object",
                  "description": "comma seperated tags",
                  "example" : "range"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "virtual message list"
          },
          "400": {
            "description": "Invalid payload data",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        },
        "tags": [
          "Virtual Messages"
        ]
      }
    },
    "/virtual_messages/detail/{vmId}": {
      "post": {
        "summary": "save VM Detail - see sample",
        "description": "Save Virtual Messages Details.\n",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "vm id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Object that will save VirtualMessages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewVirtualMessagesDetail"
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "201": {
            "description": "virtual messages detail id",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Newly created VM Detail's id"
                }
              }
            }
          },
          "400": {
            "description": "invalid vm detail payload.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/detail/{vmDetiailsId}": {
      "get": {
        "summary": "get VM Detail - by unique vm detail id",
        "description": "Lists Virtual Messages Details by unique id.\n",
        "parameters": [
          {
            "name": "vmDetiailsId",
            "in": "path",
            "description": "unique virtual message detail id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "200": {
            "description": "Returns virtual messages detail object",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no virtual messages found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      },
      "put": {
        "summary": "update virtual message detail - by vm detail Id",
        "description": "Update detail this will be used to add comments, likes etc.\n",
        "parameters": [
          {
            "name": "vmDetiailsId",
            "in": "path",
            "description": "virtual message detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "vm details.",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetails"
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "204": {
            "description": "vm details successfully updated."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "Some error while updating vm details.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/detail/list/{vmId}": {
      "get": {
        "summary": "get VM Details list - by vmId",
        "description": "Lists given Virtual Messages Details like comments likes etc.\n",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "virtual message id.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "200": {
            "description": "Returns virtual messages details list",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no virtual messages found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/detail/count/{vmId}": {
      "get": {
        "summary": "get VM Details counts - by vmId",
        "description": "Lists given Virtual Messages Details Counts like comments likes etc.\n",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "description": "virtual message id  -- vmId.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "200": {
            "description": "Returns virtual messages details Count",
            "schema": {
              "$ref": "#/definitions/VirtualMessageDetailsCount"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "500": {
            "description": "no virtual messages found.",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
    "/virtual_messages/detail/{vmDetiailsId}/comment": {
      "post": {
        "summary": "insert comment - by vm detail Id",
        "description": "Add comments.\n",
        "parameters": [
          {
            "name": "vmDetiailsId",
            "in": "path",
            "description": "virtual message detail id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "vm details.",
            "schema": {
              "type": "object",
              "properties": {
                "vmId": {
                  "type": "string",
                  "description": "vmId on which reply to be added"
                },
                "userId": {
                  "type": "string",
                  "description": "user Id who comments"
                },
                "replyId": {
                  "type": "string",
                  "description": "virtual message detail id that is replied on"
                },
                "comment": {
                  "type": "string",
                  "description": "comment message"
                }
              }
            }
          }
        ],
        "tags": [
          "Virtual Messages Details"
        ],
        "responses": {
          "201": {
            "description": "comment added successfully."
          },
          "400": {
            "description": "request body is insufficient",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GenericResponseError"
            }
          }
        }
      }
    },
[...]
